# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

absl-py
astor
backcall
cachetools
certifi
chardet
decorator
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipython-genutils
jedi
joblib
jupyter-client
jupyter-core
Keras-Applications
Keras-Preprocessing
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
numpy
oauthlib
opt-einsum
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
python-dateutil
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
tornado
traitlets
urllib3
wcwidth
Werkzeug
wrapt